



<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Angular 13 CURD Using Material UI</span>
    <span class="example-spacer"></span>
   
    <button mat-raised-button color="warn" (click)="openDialog()">Add Product</button>
  </mat-toolbar>
</p>

<div class="container"> 
<div style="margin: top 10px;">

<mat-card>

  <h1 style="text-align: center;">Product List </h1>

   <table class="mat-elevation-z8 demo-table">
   <thead>
     <th>Sr</th>
<th>Name</th>
<th>Category</th>

<th>During Buying Status</th>
<th>Price</th>
<th>date</th>
<th>Comments</th>
<th>Action</th>

   </thead>
<tbody>
  
<tr *ngFor="let item of productLsit; let i = index" style="border: 1ex; text-align:center;">
 <td>{{i +1}}</td>
  <td>{{item.ProductName}}</td>
  <td>{{item.ProductCategory}}</td>
  <td>{{item.fresh}}</td>
  <td>{{item.price|date}}</td>
  <td>{{item.date}}</td>
  <td>{{item.comment}}</td>

</tr>
</tbody>
   </table>




</mat-card>


</div>

</div>
